<div class='panel panel-primary'>
    <div class='panel-heading'>
        Projects Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><a class="btn btn-success" [routerLink]="['new']">Add</a></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">Loading projects...</div>
            <div *ngIf='users && users.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='projects && projects.length'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <td>Users</td>
                    <td>Tasks</td>
                    <th>End Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of projects">                    
                    <td>{{p.Name}}</td>
                    <td>{{p.Description}}</td>
                    <td>{{p.StartDate}}</td>
                    <td>{{p.Tasks.length}}</td>
                    <td>{{p.Users.length}}</td>
                    <td>{{p.EndDate}}</td>
                    <td>
                        <a [routerLink]="['/projects', p.Id, 'view', true]" class="btn btn-default">View</a>
                        <a [routerLink]="['/projects', p.Id, 'edit']" class="btn btn-primary">Edit</a>
                        <a class="btn btn-danger" (click)="onDelete(p.Id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>